# Numbers

Number oprerations -  (+, -, *) operates the same way as other languages. "/" for decimal and "//" for integer division.

In [1]:
#This is single line comment
'''This 
is
multi 
line 
comment'''
a = 5
b = 2
c = a / b
d = a//b

In [2]:
print(c, d)

2.5 2

# Strings

String can be manipulated using [] brackets. Just apply indexing and no need for conversion to char, substring, etc.,

In [3]:
name = "Nazira"

In [4]:
name[0:4]

'Nazi'

In [5]:
lname = "shaikh"

In [6]:
name + ' ' + lname

'Nazira shaikh'

In [7]:
type(lname)

str

String vars are immutable

In [8]:
#Uncomment this to prove that string is immutable
#lname.remove(1)

To mute we have to convert it to list

In [9]:
lnamelst = list(lname)

In [10]:
lnamelst

['s', 'h', 'a', 'i', 'k', 'h']

# Print operations

In [11]:
print("Nazira Shaikh")

Nazira Shaikh

In [12]:
print('My name is {p}'.format(p=name + ' ' + lname))

My name is Nazira shaikh

# List operations

In [13]:
lst = []
lst.append('N')
lst.append('a')
lst.append('z')
lst.append('i')
lst.append('r')
lst.append('a')
lst

['N', 'a', 'z', 'i', 'r', 'a']

In [14]:
''.join(lst)

'Nazira'

In [15]:
rlst = lst[0:]
rlst

['N', 'a', 'z', 'i', 'r', 'a']

In [16]:
''.join(rlst)

'Nazira'

Use remove to remove item from a list by value

In [17]:
lst.remove('a')

In [18]:
lst

['N', 'z', 'i', 'r', 'a']

Use del to remove an item in list by index

In [19]:
del lst[1]
lst

['N', 'i', 'r', 'a']

Use pop to remove an item from the list and return it

In [20]:
lst.pop(0)

'N'

In [21]:
lst

['i', 'r', 'a']

Lists can store multiple datatypes

In [22]:
multidtlst = ['Nazira', 1989, 'F', 61.7]

In [23]:
multidtlst

['Nazira', 1989, 'F', 61.7]

List of lists

In [24]:
lstoflst = []
lstoflst.append([1,2,3])
lstoflst.append([4,5,6])
lstoflst.append(multidtlst)
lstoflst

[[1, 2, 3], [4, 5, 6], ['Nazira', 1989, 'F', 61.7]]

In [25]:
lstoflst[1][0]
print('I am {n}'.format(n=lstoflst[2][0]))

I am Nazira

# Tuples
Tuples are immutable

In [26]:
tup = (1, 2, 3, 4)

In [27]:
tup

(1, 2, 3, 4)

In [28]:
type(tup)

tuple

Only count and index are available for a tuple

In [29]:
len(tup)

4

In [30]:
tup.count(2)

1

# Dictionaries

In [31]:
diction ={
    'Name': 'Nazira',
    'Place': 'Kalpakkam',
    'PIN': 603102
}
diction

{'Name': 'Nazira', 'Place': 'Kalpakkam', 'PIN': 603102}

In [32]:
type(diction)

dict

In [33]:
diction['Place']

'Kalpakkam'

Iterate keys

In [34]:
for k in diction.keys():
    print(k)

Name
Place
PIN

Iterate values

In [35]:
for k in diction.keys():
    print(diction[k])

Nazira
Kalpakkam
603102

In [36]:
len(diction)

3

In [37]:
diction.pop('Name')

'Nazira'

In [38]:
diction

{'Place': 'Kalpakkam', 'PIN': 603102}

# Set

In [39]:
str1 = "Kalpakkam"

In [40]:
set(str1)

{'K', 'a', 'k', 'l', 'm', 'p'}

In [41]:
set(str1.lower())

{'a', 'k', 'l', 'm', 'p'}

In [42]:
set(str1.upper())

{'A', 'K', 'L', 'M', 'P'}

# Booleans

In [43]:
boolvar = True

In [44]:
type(boolvar)

bool

In [45]:
boolvar = False

In [46]:
if boolvar:
    print('True')
else:
    print('False')

False

# File I/O

In [47]:
f = open('People_List.csv')

In [48]:
for line in f.readlines():
    print(line.split(','))
f.close()

['Name', 'Place', 'PIN\n']
['Nazira', 'Kalpakkam', '603102\n']
['Das', 'Chennai', '600001\n']
['Feroz', 'Kalpakkam', '603102']

In [49]:
type(f)

_io.TextIOWrapper

In [50]:
import pandas as pd
df = pd.read_csv('People_List.csv')
df

     Name      Place     PIN
0  Nazira  Kalpakkam  603102
1     Das    Chennai  600001
2   Feroz  Kalpakkam  603102

In [51]:
df[['Name']]

     Name
0  Nazira
1     Das
2   Feroz

# Logical, conditional, looping Operations

In [52]:
a = 3
b = 1
c = 10

In [53]:
a < b

False

In [54]:
b<c

True

In [55]:
a<=c

True

In [56]:
b>=c

False

In [57]:
a == b

False

In [58]:
a!= b

True

In [59]:
if a<b:
    print("a is less than b")
elif a == b:
    print("a is equal to b")
else:
    print("a is greater than b")

a is greater than b

In [60]:
if True:
    print("Single if")

Single if

In [61]:
if True:
    print("If branch")
else:
    print("Else branch ")

If branch

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
name = 'Nazira'
name

'Nazira'

In [64]:
for i in name:
    print(i)

N
a
z
i
r
a

In [65]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [66]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [67]:
#To get the index and value
for i in enumerate(range(10, 20)):
    print(i)

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)

In [68]:
#in operator
if 'a' in list('Nazira'):
    print('True')

True

# List comprehension

In [69]:
name = 'Nazira'
lstname = [letter for letter in name]
lstname

['N', 'a', 'z', 'i', 'r', 'a']

In [70]:
[number**2 for number in range(1, 10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
[number**2 for number in range(1, 10) if number % 2 == 0]

[4, 16, 36, 64]

In [72]:
[x*y for x in range(1, 5) for y in range(11, 15)]

[11, 12, 13, 14, 22, 24, 26, 28, 33, 36, 39, 42, 44, 48, 52, 56]

# Functions

In [73]:
def add(x, y):
    return x+y
add(2,3)

5

In [74]:
def calculatesalary(level):
    scalingfactor = 1.2
    base = 30000
    if level == 1:
        salary = base
    elif level > 1 and level < 10:
        salary = base * level * scalingfactor
    else:
        salary = 1000000
    return salary

In [75]:
for level in range(1, 11):
    print(calculatesalary(level))

30000
72000.0
108000.0
144000.0
180000.0
216000.0
252000.0
288000.0
324000.0
1000000

# Classes

In [76]:
class MathOperations:
    def __init__(self, a, b):
        self.op1 = a
        self.op2 = b
        
    def add(self):
        return self.op1 + self.op2
    
    def subtract(self):
        return self.op1 - self.op2
    
    def multiply(self):
        return self.op1 * self.op2
    
    def divide(self):
        return self.op1 / self.op2

In [77]:
math = MathOperations(10, 2)
math.add()

12

In [78]:
math.subtract()

8

In [79]:
math.multiply()

20

In [80]:
math.divide()

5.0